# Kopieer dit bestand naar .env en vul je eigen waardes in.
# Deze .env deel je met niemand en zet je niet online.

SPOTIFY_CLIENT_ID=5aca4122017743938547811ab6c952f3
SPOTIFY_CLIENT_SECRET=zet-hier-je-client-secret
